<div class="row">
	<button class="btn btn-default col-xs-3 pogs--border all--bg" ng-class="{active: vm.isNoteTypeSet('all')}" ng-click="vm.setNoteType('all')"><h3>All</h3></button>
	<button class="btn btn-default col-xs-3 pedong--bg pogs--border" ng-class="{active: vm.isNoteTypeSet('pedong')}" ng-click="vm.setNoteType('pedong')"><h3>Pedong</h3></button>
	<button class="btn btn-default col-xs-3 gingin--bg pogs--border" ng-class="{active: vm.isNoteTypeSet('gingin')}" ng-click="vm.setNoteType('gingin')"><h3>Gingin</h3></button>
	<button class="btn btn-default col-xs-3 pogs--bg pogs--border" ng-class="{active: vm.isNoteTypeSet('pogs')}" ng-click="vm.setNoteType('pogs')"><h3>Pogs</h3></button>
</div>

<div ng-if="vm.noteType == 'all'" class="row">
	<div id="all-notes" class="col-xs-12">
		<div id="pedong-notes" class="col-xs-6">
			<div class="notes col-xs-12 pogs--border" ng-repeat="note in vm.notes |  filter: vm.pedongPogsFilter | filter: vm.quickFilter |  orderBy: 'date'" ng-class="{ 'pedong--bg': (note.author == 'Pedong'), 'pogs--bg': (note.author == 'Pogs') }">
				<h2 ng-hide="note.editMode" class="col-xs-4">{{ note.date }}</h2>
				<input ng-show="note.editMode" type="text" ng-model="note.date" class="col-xs-4">
				<h2 ng-hide="note.editMode" class="col-xs-8">{{ note.title }}</h2>
				<input ng-show="note.editMode" type="text" ng-model="note.title" class="col-xs-8">
				<p ng-hide="note.editMode" class="col-xs-12">{{ note.information }}</p>
				<input ng-show="note.editMode" type="text" ng-model="note.information" class="col-xs-12">
				<p ng-hide="note.editMode" class="col-xs-12">{{ note.tags }}</p>
				<input ng-show="note.editMode" type="text" ng-model="note.tags" class="col-xs-12">
				<p ng-hide="note.editMode" class="col-xs-9">{{ note.location }}</p>
				<input ng-show="note.editMode" type="text" ng-model="note.location" class="col-xs-9">
				<p ng-hide="note.editMode" class="col-xs-3">{{ note.approxTime }}</p>
				<input ng-show="note.editMode" type="text" ng-model="note.approxTime" class="col-xs-3">
				<h1 class="col-xs-2" ng-repeat="icon in note.icons">
					<span ng-if="icon == 'birthday'" class="col-xs-12"><i class="fa fa-gift" aria-hidden="true"></i></span>
					<span ng-if="icon == 'school'" class="col-xs-12"><i class="fa fa-book" aria-hidden="true"></i></span>
					<span ng-if="icon == 'location'" class="col-xs-12"><i class="fa fa-map" aria-hidden="true"></i></span>
					<span ng-if="icon == 'special'" class="col-xs-12"><i class="fa fa-star" aria-hidden="true"></i></span>
					<span ng-if="icon == 'work'" class="col-xs-12"><i class="fa fa-suitcase" aria-hidden="true"></i></span>
					<span ng-if="icon == 'travel'" class="col-xs-12"><i class="fa fa-plane" aria-hidden="true"></i></span>
					<span ng-if="icon == 'sick'" class="col-xs-12"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
					<span ng-if="icon == 'food'" class="col-xs-12"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
					<span ng-if="icon == 'family'" class="col-xs-12"><i class="fa fa-group" aria-hidden="true"></i></span>
					<span ng-if="icon == 'concert'" class="col-xs-12"><i class="fa fa-music" aria-hidden="true"></i></span>
					<span ng-if="icon == 'home'" class="col-xs-12"><i class="fa fa-home" aria-hidden="true"></i></span>
					<span ng-if="icon == 'party'" class="col-xs-12"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
				</h1>
				<div ng-show="note.editMode" class="col-xs-10 text-center">
					<button type="button" class="btn btn-circle" ng-click="vm.updateNote(note)"><i class="fa fa-save" aria-hidden="true"></i></button>
					<button type="button" class="btn btn-close" ng-click="vm.toggleEditMode(note)"><i class="fa fa-times" aria-hidden="true"></i></button>
				</div>
				<div class="col-xs-offset-10 col-xs-2">
					<button type="button" class="btn btn-default btn-edit col-xs-6" ng-class="{ 'pedong--bg': (note.author == 'Pedong'), 'pogs--bg': (note.author == 'Pogs') }" ng-click="vm.toggleEditMode(note)"><p><i class="fa fa-pencil" aria-hidden="true"></i></p></button>
					<button type="button" class="btn btn-default btn-edit col-xs-6" ng-class="{ 'pedong--bg': (note.author == 'Pedong'), 'pogs--bg': (note.author == 'Pogs') }" ng-click="vm.deleteNote(note._id)"><p><i class="fa fa-trash-o"></i></p></button>
				</div>
			</div>
		</div>
		<div id="gingin-notes" class="col-xs-6">
			<div class="notes col-xs-12 pogs--border" ng-repeat="note in vm.notes |  filter: vm.ginginPogsFilter | filter: vm.quickFilter |  orderBy: 'date'" ng-class="{ 'gingin--bg': (note.author == 'Gingin'), 'pogs--bg': (note.author == 'Pogs') }">
				<h2 ng-hide="note.editMode" class="col-xs-4">{{ note.date }}</h2>
				<input ng-show="note.editMode" type="text" ng-model="note.date" class="col-xs-4">
				<h2 ng-hide="note.editMode" class="col-xs-8">{{ note.title }}</h2>
				<input ng-show="note.editMode" type="text" ng-model="note.title" class="col-xs-8">
				<p ng-hide="note.editMode" class="col-xs-12">{{ note.information }}</p>
				<input ng-show="note.editMode" type="text" ng-model="note.information" class="col-xs-12">
				<p ng-hide="note.editMode" class="col-xs-12">{{ note.tags }}</p>
				<input ng-show="note.editMode" type="text" ng-model="note.tags" class="col-xs-12">
				<p ng-hide="note.editMode" class="col-xs-9">{{ note.location }}</p>
				<input ng-show="note.editMode" type="text" ng-model="note.location" class="col-xs-9">
				<p ng-hide="note.editMode" class="col-xs-3">{{ note.approxTime }}</p>
				<input ng-show="note.editMode" type="text" ng-model="note.approxTime" class="col-xs-3">
				<h1 class="col-xs-2" ng-repeat="icon in note.icons">
					<span ng-if="icon == 'birthday'" class="col-xs-12"><i class="fa fa-gift" aria-hidden="true"></i></span>
					<span ng-if="icon == 'school'" class="col-xs-12"><i class="fa fa-book" aria-hidden="true"></i></span>
					<span ng-if="icon == 'location'" class="col-xs-12"><i class="fa fa-map" aria-hidden="true"></i></span>
					<span ng-if="icon == 'special'" class="col-xs-12"><i class="fa fa-star" aria-hidden="true"></i></span>
					<span ng-if="icon == 'work'" class="col-xs-12"><i class="fa fa-suitcase" aria-hidden="true"></i></span>
					<span ng-if="icon == 'travel'" class="col-xs-12"><i class="fa fa-plane" aria-hidden="true"></i></span>
					<span ng-if="icon == 'sick'" class="col-xs-12"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
					<span ng-if="icon == 'food'" class="col-xs-12"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
					<span ng-if="icon == 'family'" class="col-xs-12"><i class="fa fa-group" aria-hidden="true"></i></span>
					<span ng-if="icon == 'concert'" class="col-xs-12"><i class="fa fa-music" aria-hidden="true"></i></span>
					<span ng-if="icon == 'home'" class="col-xs-12"><i class="fa fa-home" aria-hidden="true"></i></span>
					<span ng-if="icon == 'party'" class="col-xs-12"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
				</h1>
				<div ng-show="note.editMode" class="col-xs-10 text-center">
					<button type="button" class="btn btn-circle" ng-click="vm.updateNote(note)"><i class="fa fa-save" aria-hidden="true"></i></button>
					<button type="button" class="btn btn-close" ng-click="vm.toggleEditMode(note)"><i class="fa fa-times" aria-hidden="true"></i></button>
				</div>
				<div class="col-xs-offset-10 col-xs-2">
					<button type="button" class="btn btn-default btn-edit col-xs-6" ng-class="{ 'gingin--bg': (note.author == 'Gingin'), 'pogs--bg': (note.author == 'Pogs') }" ng-click="vm.toggleEditMode(note)"><p><i class="fa fa-pencil" aria-hidden="true"></i></p></button>
					<button type="button" class="btn btn-default btn-edit col-xs-6" ng-class="{ 'gingin--bg': (note.author == 'Gingin'), 'pogs--bg': (note.author == 'Pogs') }" ng-click="vm.deleteNote(note._id)"><p><i class="fa fa-trash-o"></i></p></button>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-if="vm.noteType == 'pedong'" class="row">
	<div id="pedong-notes" class="col-xs-12">
		<div ng-repeat="note in vm.notes |  filter: vm.pedongPogsFilter | filter: vm.quickFilter |  orderBy: 'date'" class="col-xs-6">
			<div class="notes col-xs-12 pogs--border" ng-class="{ 'pedong--bg': (note.author == 'Pedong'), 'pogs--bg': (note.author == 'Pogs') }">
			<h2 ng-hide="note.editMode" class="col-xs-4">{{ note.date }}</h2>
			<input ng-show="note.editMode" type="text" ng-model="note.date" class="col-xs-4">
			<h2 ng-hide="note.editMode" class="col-xs-8">{{ note.title }}</h2>
			<input ng-show="note.editMode" type="text" ng-model="note.title" class="col-xs-8">
			<p ng-hide="note.editMode" class="col-xs-12">{{ note.information }}</p>
			<input ng-show="note.editMode" type="text" ng-model="note.information" class="col-xs-12">
			<p ng-hide="note.editMode" class="col-xs-12">{{ note.tags }}</p>
			<input ng-show="note.editMode" type="text" ng-model="note.tags" class="col-xs-12">
			<p ng-hide="note.editMode" class="col-xs-9">{{ note.location }}</p>
			<input ng-show="note.editMode" type="text" ng-model="note.location" class="col-xs-9">
			<p ng-hide="note.editMode" class="col-xs-3">{{ note.approxTime }}</p>
			<input ng-show="note.editMode" type="text" ng-model="note.approxTime" class="col-xs-3">
			<h1 class="col-xs-2" ng-repeat="icon in note.icons">
				<span ng-if="icon == 'birthday'" class="col-xs-12"><i class="fa fa-gift" aria-hidden="true"></i></span>
				<span ng-if="icon == 'school'" class="col-xs-12"><i class="fa fa-book" aria-hidden="true"></i></span>
				<span ng-if="icon == 'location'" class="col-xs-12"><i class="fa fa-map" aria-hidden="true"></i></span>
				<span ng-if="icon == 'special'" class="col-xs-12"><i class="fa fa-star" aria-hidden="true"></i></span>
				<span ng-if="icon == 'work'" class="col-xs-12"><i class="fa fa-suitcase" aria-hidden="true"></i></span>
				<span ng-if="icon == 'travel'" class="col-xs-12"><i class="fa fa-plane" aria-hidden="true"></i></span>
				<span ng-if="icon == 'sick'" class="col-xs-12"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
				<span ng-if="icon == 'food'" class="col-xs-12"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
				<span ng-if="icon == 'family'" class="col-xs-12"><i class="fa fa-group" aria-hidden="true"></i></span>
				<span ng-if="icon == 'concert'" class="col-xs-12"><i class="fa fa-music" aria-hidden="true"></i></span>
				<span ng-if="icon == 'home'" class="col-xs-12"><i class="fa fa-home" aria-hidden="true"></i></span>
				<span ng-if="icon == 'party'" class="col-xs-12"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
			</h1>
			<div ng-show="note.editMode" class="col-xs-10 text-center">
				<button type="button" class="btn btn-circle" ng-click="vm.updateNote(note)"><i class="fa fa-save" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-close" ng-click="vm.toggleEditMode(note)"><i class="fa fa-times" aria-hidden="true"></i></button>
			</div>
			<div class="col-xs-offset-10 col-xs-2">
				<button type="button" class="btn btn-default btn-edit col-xs-6" ng-class="{ 'pedong--bg': (note.author == 'Pedong'), 'pogs--bg': (note.author == 'Pogs') }" ng-click="vm.toggleEditMode(note)"><p><i class="fa fa-pencil" aria-hidden="true"></i></p></button>
				<button type="button" class="btn btn-default btn-edit col-xs-6" ng-class="{ 'pedong--bg': (note.author == 'Pedong'), 'pogs--bg': (note.author == 'Pogs') }" ng-click="vm.deleteNote(note._id)"><p><i class="fa fa-trash-o"></i></p></button>
			</div>
		</div>
		</div>
	</div>
</div>

<div ng-if="vm.noteType == 'gingin'" class="row">
	<div id="gingin-notes" class="col-xs-12">
		<div ng-repeat="note in vm.notes |  filter: vm.ginginPogsFilter | filter: vm.quickFilter |  orderBy: 'date'" class="col-xs-6">
			<div class="notes col-xs-12 pogs--border" ng-class="{ 'gingin--bg': (note.author == 'Gingin'), 'pogs--bg': (note.author == 'Pogs') }">
			<h2 ng-hide="note.editMode" class="col-xs-4">{{ note.date }}</h2>
			<input ng-show="note.editMode" type="text" ng-model="note.date" class="col-xs-4">
			<h2 ng-hide="note.editMode" class="col-xs-8">{{ note.title }}</h2>
			<input ng-show="note.editMode" type="text" ng-model="note.title" class="col-xs-8">
			<p ng-hide="note.editMode" class="col-xs-12">{{ note.information }}</p>
			<input ng-show="note.editMode" type="text" ng-model="note.information" class="col-xs-12">
			<p ng-hide="note.editMode" class="col-xs-12">{{ note.tags }}</p>
			<input ng-show="note.editMode" type="text" ng-model="note.tags" class="col-xs-12">
			<p ng-hide="note.editMode" class="col-xs-9">{{ note.location }}</p>
			<input ng-show="note.editMode" type="text" ng-model="note.location" class="col-xs-9">
			<p ng-hide="note.editMode" class="col-xs-3">{{ note.approxTime }}</p>
			<input ng-show="note.editMode" type="text" ng-model="note.approxTime" class="col-xs-3">
			<h1 class="col-xs-2" ng-repeat="icon in note.icons">
				<span ng-if="icon == 'birthday'" class="col-xs-12"><i class="fa fa-gift" aria-hidden="true"></i></span>
				<span ng-if="icon == 'school'" class="col-xs-12"><i class="fa fa-book" aria-hidden="true"></i></span>
				<span ng-if="icon == 'location'" class="col-xs-12"><i class="fa fa-map" aria-hidden="true"></i></span>
				<span ng-if="icon == 'special'" class="col-xs-12"><i class="fa fa-star" aria-hidden="true"></i></span>
				<span ng-if="icon == 'work'" class="col-xs-12"><i class="fa fa-suitcase" aria-hidden="true"></i></span>
				<span ng-if="icon == 'travel'" class="col-xs-12"><i class="fa fa-plane" aria-hidden="true"></i></span>
				<span ng-if="icon == 'sick'" class="col-xs-12"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
				<span ng-if="icon == 'food'" class="col-xs-12"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
				<span ng-if="icon == 'family'" class="col-xs-12"><i class="fa fa-group" aria-hidden="true"></i></span>
				<span ng-if="icon == 'concert'" class="col-xs-12"><i class="fa fa-music" aria-hidden="true"></i></span>
				<span ng-if="icon == 'home'" class="col-xs-12"><i class="fa fa-home" aria-hidden="true"></i></span>
				<span ng-if="icon == 'party'" class="col-xs-12"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
			</h1>
			<div ng-show="note.editMode" class="col-xs-10 text-center">
				<button type="button" class="btn btn-circle" ng-click="vm.updateNote(note)"><i class="fa fa-save" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-close" ng-click="vm.toggleEditMode(note)"><i class="fa fa-times" aria-hidden="true"></i></button>
			</div>
			<div class="col-xs-offset-10 col-xs-2">
				<button type="button" class="btn btn-default btn-edit col-xs-6" ng-class="{ 'gingin--bg': (note.author == 'Gingin'), 'pogs--bg': (note.author == 'Pogs') }" ng-click="vm.toggleEditMode(note)"><p><i class="fa fa-pencil" aria-hidden="true"></i></p></button>
				<button type="button" class="btn btn-default btn-edit col-xs-6" ng-class="{ 'gingin--bg': (note.author == 'Gingin'), 'pogs--bg': (note.author == 'Pogs') }" ng-click="vm.deleteNote(note._id)"><p><i class="fa fa-trash-o"></i></p></button>
			</div>
		</div>
		</div>
	</div>
</div>

<div ng-if="vm.noteType == 'pogs'" class="row">
	<div id="pogs-notes" class="col-xs-12">
		<div ng-repeat="note in vm.notes |  filter: vm.pogsFilter | filter: vm.quickFilter |  orderBy: 'date'" class="col-xs-6">
			<div class="notes col-xs-12 pogs--border" ng-class="{'pogs--bg': (note.author == 'Pogs') }">
			<h2 ng-hide="note.editMode" class="col-xs-4">{{ note.date }}</h2>
			<input ng-show="note.editMode" type="text" ng-model="note.date" class="col-xs-4">
			<h2 ng-hide="note.editMode" class="col-xs-8">{{ note.title }}</h2>
			<input ng-show="note.editMode" type="text" ng-model="note.title" class="col-xs-8">
			<p ng-hide="note.editMode" class="col-xs-12">{{ note.information }}</p>
			<input ng-show="note.editMode" type="text" ng-model="note.information" class="col-xs-12">
			<p ng-hide="note.editMode" class="col-xs-12">{{ note.tags }}</p>
			<input ng-show="note.editMode" type="text" ng-model="note.tags" class="col-xs-12">
			<p ng-hide="note.editMode" class="col-xs-9">{{ note.location }}</p>
			<input ng-show="note.editMode" type="text" ng-model="note.location" class="col-xs-9">
			<p ng-hide="note.editMode" class="col-xs-3">{{ note.approxTime }}</p>
			<input ng-show="note.editMode" type="text" ng-model="note.approxTime" class="col-xs-3">
			<h1 class="col-xs-2" ng-repeat="icon in note.icons">
				<span ng-if="icon == 'birthday'" class="col-xs-12"><i class="fa fa-gift" aria-hidden="true"></i></span>
				<span ng-if="icon == 'school'" class="col-xs-12"><i class="fa fa-book" aria-hidden="true"></i></span>
				<span ng-if="icon == 'location'" class="col-xs-12"><i class="fa fa-map" aria-hidden="true"></i></span>
				<span ng-if="icon == 'special'" class="col-xs-12"><i class="fa fa-star" aria-hidden="true"></i></span>
				<span ng-if="icon == 'work'" class="col-xs-12"><i class="fa fa-suitcase" aria-hidden="true"></i></span>
				<span ng-if="icon == 'travel'" class="col-xs-12"><i class="fa fa-plane" aria-hidden="true"></i></span>
				<span ng-if="icon == 'sick'" class="col-xs-12"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
				<span ng-if="icon == 'food'" class="col-xs-12"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
				<span ng-if="icon == 'family'" class="col-xs-12"><i class="fa fa-group" aria-hidden="true"></i></span>
				<span ng-if="icon == 'concert'" class="col-xs-12"><i class="fa fa-music" aria-hidden="true"></i></span>
				<span ng-if="icon == 'home'" class="col-xs-12"><i class="fa fa-home" aria-hidden="true"></i></span>
				<span ng-if="icon == 'party'" class="col-xs-12"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
			</h1>
			<div ng-show="note.editMode" class="col-xs-10 text-center">
				<button type="button" class="btn btn-circle" ng-click="vm.updateNote(note)"><i class="fa fa-save" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-close" ng-click="vm.toggleEditMode(note)"><i class="fa fa-times" aria-hidden="true"></i></button>
			</div>
			<div class="col-xs-offset-10 col-xs-2">
				<button type="button" class="btn btn-default btn-edit col-xs-6" ng-class="{ 'pogs--bg': (note.author == 'Pogs') }" ng-click="vm.toggleEditMode(note)"><p><i class="fa fa-pencil" aria-hidden="true"></i></p></button>
				<button type="button" class="btn btn-default btn-edit col-xs-6" ng-class="{ 'pogs--bg': (note.author == 'Pogs') }" ng-click="vm.deleteNote(note._id)"><p><i class="fa fa-trash-o"></i></p></button>
			</div>
		</div>
		</div>
	</div>
</div>

<div class="row">
	<footer id="pogs-footer" class="col-xs-12">
		<div id="pogs-footer-add" class="col-xs-12">
			<form ng-submit="vm.addQuickNote()">
				<h3 class="pogs-footer-text--top col-xs-4 text-right">Quick! Add a Note</h3>
				<div class="pogs-footer-input--top col-xs-7">
					<input ng-model="vm.quickNoteData.date" type="text" class="col-xs-2" placeholder="MM/DD/YYYY">
					<div class="col-xs-3">
						<input ng-model="vm.quickNoteData.title" class="col-xs-12" type="text" placeholder="Quick Note Title">
					</div>
					<input ng-model="vm.quickNoteData.information" class="col-xs-4" type="textarea" placeholder="Quick Note Info">
					<div class="col-xs-3">
						<button type="button" class="btn btn-default col-xs-4 pedong--bg pogs--border" ng-class="{active: vm.isQuickNoteAuthorSet('Pedong')}" ng-click="vm.setQuickNoteAuthor('Pedong')"><h3 class="pogs-filter-button-text--small">P</h3></button>
						<button type="button" class="btn btn-default col-xs-4 gingin--bg pogs--border" ng-class="{active: vm.isQuickNoteAuthorSet('Gingin')}" ng-click="vm.setQuickNoteAuthor('Gingin')"><h3 class="pogs-filter-button-text--small">G</h3></button>
						<button type="button" class="btn btn-default col-xs-4 pogs--bg pogs--border" ng-class="{active: vm.isQuickNoteAuthorSet('Pogs')}" ng-click="vm.setQuickNoteAuthor('Pogs')"><h3 class="pogs-filter-button-text--small">PG</h3></button>
					</div>
				</div>
				<button class="btn btn-circle pogs-footer-button col-xs-1" type="submit"><i class="fa fa-plus"></i></button>
			</form>
		</div>
		<div id="pogs-footer-search" class="col-xs-12">
			<h3 class="pogs-footer-text col-xs-4 text-right">Quick! Search for a Note</h3>
			<div class="pogs-footer-input col-xs-7">
				<input ng-model="vm.quickFilter" class="col-xs-12" type="text" placeholder="MM/DD/YYYY; Title; Info; Tags; Location; Time; Icons; Pogs;">
			</div>
			<button class="btn btn-circle pogs-footer-button col-xs-1" type="submit"><i class="fa fa-search"></i></button>
		</div>
	</footer>
</div>