body {
	font-size: 16px;
	font-family: 'Poiret One', cursive;
	font-weight: 700;
	color: #555;
	letter-spacing: 1.5px;
}

h1 {
	font-size: 32px;
	font-family: 'Clicker Script', cursive;
	font-weight: 900;
	letter-spacing: 2.5px;
}

h2 {
	font-size: 28px;
	font-family: 'Clicker Script', cursive;
	font-weight: 900;
	letter-spacing: 1.5px;
}

h3 {
	margin: 0;
	font-size: 24px;
	font-family: 'Clicker Script', cursive;
	font-weight: 900;
}

/* unvisited link */
a:link {
  color: #b56969;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #b56969;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #555;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #555;
  text-decoration: none;
}

input {
	height: 30px;
	border: none;
	margin-bottom: 10px;
}

.gingin--bg {
	background-color: #e6cf8b;
}

.pedong--bg {
 background-color: #b56969;
}

.pogs--bg {
	background-color: #b6b6b6;
}

.all--bg {
	background-color: #d7e4ef;
}

.pogs--border {
	border: dashed 1px #333;
	border-radius: 10px;
	box-shadow: 0 0 5px 0 #333;
}

.btn-default.active {
	background-color: #fff !important;
}

.pogs-filter-button-text--small {
	margin: 0;
	font-size: 16px;
}

.btn-edit {
	padding: 10px 0 0 0;
	border: none;
}

.btn-circle {
	padding: 0;
	margin-top: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1.428571429;
  border-radius: 50%;
  border: solid thick #94e194;
  color: #94e194;
  background-color: #e1ffe2;
}

.btn-circle:hover {
	border: solid thick #76ac77;
	color: #76ac77;
}

.btn-close {
	padding: 0;
	margin-top: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1.428571429;
  border-radius: 50%;
  border: solid thick #a94442;
  color: #a94442;
  background-color: #e1ffe2;
}

.btn-close:hover {
	border: solid thick #6f4342;
	color: #6f4342;
}

.btn-circle--large {
	width: 60px;
	height: 60px;
}

#pogs-nav {
	background-color: #cecece;
}

#pogs-nav-logo {
	width: 200px;
	height: 150px;
}

.pogs-nav-button {
	margin-top: -5px;
}

.pogs-nav-link {
	margin: 30px 0 20px 0;
}

#pogs-nav-welcome {
	margin: 0;
}

#pogs-about-img {
	width: 300px;
	height: 200px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.notes {
	margin: 25px 0px;
}

#pedong-notes,
#gingin-notes,
#pogs-notes,
#archive-notes {
	margin-bottom: 300px;
	min-height: 100vh;
	border-right: dashed thick #eee;
}

.archive-title {
	margin-top: 0;
}

#pogs-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #cecece;
	opacity: 0.95;
}

.pogs-footer-input {
	margin: 20px 0 10px 0;
}

.pogs-footer-input--top {
	margin: 20px 0 0 0;
}

.pogs-footer-button {
	margin-top: 15px;
}

.pogs-footer-text {
	padding: 0;
	margin: 20px 0;
}

.pogs-footer-text--top {
	padding: 0;
	margin: 20px 0 0 0;
}

#pogs-advanced-add {
	background-color: #111;
	opacity: 0.95;
}

#advanced-add-icons-text,
#advanced-add-icons {
	margin-top: 10px;
}

.modal-body {
	background-color: #cecece;
	border: dashed 2px #555;
	border-radius: 10px;
	box-shadow: 0 0 5px 0 #333;
}